#botonPost{
    border: none;
    background-color: rgba(7, 166, 230, 0.5);
    padding: 0.5rem;
    color: white;
    transition: ease .5s;
}

#botonPost:hover{
    background-color: #f1f1f1;
    color: #000;
    padding: 0.5rem;
}

form{
    box-shadow: 2px 2px 15px rgb(255,255,255);
}