@import 'crear-post.css';


#botonCrearPost{
    border: none;
    background-color: rgba(7, 166, 230, 0.5);
    padding: 0.5rem;
    color: white;
    transition: ease .5s;
}

#botonCrearPost:hover{
    background-color: #f1f1f1;
    color: #000;
    padding: 0.5rem;
}


.nombre{
        color: white;
}

nav{
    background-color: rgba(226, 226, 226, 0.1);
}

.nombreSpan{
    color: rgb(7, 166, 230);
}

img{
    box-shadow: 0px 0px 20px rgb(255,255,255);
}

img:hover{
    box-shadow: 0px 0px 20px rgb(88, 194, 236);
}

.main{
    max-width: 50%;
    max-height: 40%;
    background-color: rgba(226, 226, 226, 0.1);
}

.botones{
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.borrar{
    color: white;
    background-color: rgba(255, 0, 0, .5);
    padding: .5rem 1rem;
    border: none;
    border-radius: 0.3rem;
}

.editar{
    color: white;
    background-color: rgba(39, 255, 20, 0.5);
    padding: .5rem 1rem;
    border: none;
    border-radius: 0.3rem;
}